#loading-overlay,
body,
.pagination button {
    background: #121212;
    color: #e0e0e0;
}

table {
    background-color: #1e1e1e;
}

tr:hover,
.stats-group,
#calendar-heatmap {
    background-color: #2a2a2a;
}

.search-input {
    background-color: #2a2a2a;
    color: #e0e0e0;
    border: 1px solid #3a3a3a;
}

.search-input::placeholder {
    color: #999999;
}

#stats,
#heatmap-holder,
#listening-by-year,
#otd-holder {
    background-color: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
}
