#loading-overlay,
body,
.pagination button {
    background: #f4f4f9;
    color: #333;
}

table {
    background-color: #fff;
}

tr:hover {
    background-color: #f1f1f1;
}

.search-input {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
}

.search-input:focus {
    border-color: #007bff;
}

#stats,
#heatmap-holder,
#listening-by-year,
#otd-holder {
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
